*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.main,
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1c2f5;
}

.container{
    width: 100%;
    padding: 25px;
    height: 100vh;
}

h3{
    font-size: x-large;
    margin: 20px;
}

h2{
    margin: 30px;
    margin-top: 50px;
}

.main{
    flex-direction: column;
    height: 100vh;
}

.box1,
.box2,
.box3{
    height: 90%;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

hr{
    margin: 15px;
}

p{
    font-size: large;
}

h1{
    font-size: 60px;
    margin: 20px;
}

.box2 h1{
    font-size: 70px;
}
.box2{
    background-color: #655acf;
    color: #fff;
}

.box1,
.box3{
    background-color: #fff;
    height: 80%;
    width: 20%;
}

.btn{
    width: 75%;
    height: 45px;
    margin: 10px;
    border-width: 0px;
}

.box1 button,
.box3 button{
    color: #fff;
    background-color: #655acf;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #655acf;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }