body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 1px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px dotted #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    background-color: rgb(59, 149, 252);
}

.cell:hover {
    background-color: #95c3ff;
}

h1{
    color: red;
}