*{
    margin: 0px;
    padding: 0px;
}

.page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1{
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.p2{
    background-image: url(img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.p3{
    background-image: url(img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.p4{
    background-image: url(img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    height: auto;
    background-color: cornsilk;
    flex-direction: column;
    color: #000;
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}